:root {
  --primary-color: #73b21a;
  --secondary-color: #ffffff;
  --primary-text-color: #ffffff;
  --secondary-text-color: #414141;
}

.custom-container {
  width: 80%;
  margin: 0 auto;
}

/** Primary nav*/
.primary-nav {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-family: "Open-Sans-400";

  padding: 20px 0px;
}

/** left portion */
.primary-nav__phone,
.primary-nav__email {
  font-family: "Open-Sans-400";
  margin-left: 5px;
}

.primary-nav__left > * {
  display: block;
}

/** right portion */
.primary-nav__login > a {
  color: var(--primary-text-color);
}

/** primary button */
.primary-nav__button {
  background-color: var(--secondary-color);
  padding: 10px 15px;
  text-align: center;
  width: 100%;
  cursor: pointer;

  transition: all 300ms ease-in-out;
  border-radius: 15px;
}

.primary-nav__button:hover {
  background-color: var(--secondary-text-color);
}

.primary-nav__button a {
  color: var(--secondary-text-color);
  transition: all 200ms ease;
}

.primary-nav__button:hover a,
.primary-nav__button:focus a {
  color: var(--secondary-color);
  transform: scale(0.95);
}

/** secondary navigation */
.secondary-nav {
  padding: 20px 0px;
}

.menu {
  font-size: 18px;
  font-family: "Montserrat-600";
}

.menu > li a {
  color: var(--secondary-text-color);
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.menu > li a:hover {
  font-style: italic;
  color: var(--primary-color);
}

.menu > li:last-child > a > i {
  padding: 10px;
  border-radius: 50%;
  color: var(--primary-text-color);
  background-color: var(--primary-color);

  transition: transform 300ms ease;
  margin-top: -10px;
}

.menu > li:last-child > a > i:hover {
  transform: rotate(90deg) scale(1.1);
}

.hero__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero__image {
  text-align: center;
}

.hero__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__title > * ~ * {
  margin-top: 15px;
}
